{% extends "core/Custodian/Inventory.html" %}
{% load static tailwind_tags %}
{% block content %}
<div class="w-full bg-white flex justify-center items-center relative">
    <!-- Messages Section -->
    {% if messages %}
        {% for message in messages %}
        <div id="notifications" class="px-4 py-2 rounded absolute top-10 left-1/2 transform -translate-x-1/2 
            text-white {% if message.tags == 'error' %}bg-red-500{% elif message.tags == 'success' %}
            bg-green-500
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="w-[50rem] h-[35rem]  mt-10">
        <!--container for search and create request-->
        <div class=" min-w-full h-20 pt-2 flex justify-end">
            <!--create request button-->
            <div class="pr-4 mt-5">
                <button class="bg-gray-2 py-2 px-4 rounded-2xl text-md text-white hover:text-orange-500" 
                    onclick="openModal('CreateModal')">
                    Create Request
                </button>
            </div>
        </div>
        <!--table container-->
        <div class="min-w-full h-[26rem] bg-gray-3">
            <table class="w-full ">
                <thead class="bg-gray-200 border-b-2 border-gray-200">
                    <tr class="">
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Request ID</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Request Type</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Date</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Status</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
                    </tr>
                </thead>
                <tbody >
                    {% for request in request_custodian %}
                    <tr class="text-center">
                        <td class="pt-1">{{request.request_id}}</td>
                        <td class="pt-1">{{request.request_type}}</td>
                        <td class="pt-1">{{request.request_date}}</td>
                        <td class="pt-1">
                            <span class="bg-orange-600 text-white px-3 py-1.5 rounded-xl text-base">
                                {{request.request_status}}
                            </span>
                        </td>
                        <td class="pt-1">
                            <button class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                            onclick="openModal('update-{{request.request_id}}')">
                                Update
                            </button>
                            <button class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                            onclick="openModal('deleteModal-{{request.request_id}}')">
                                Delete
                            </button>
                        </td>
                        <!--Delete Modal-->
                        <div id="deleteModal-{{request.request_id}}" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
                            <div class="bg-white rounded-lg p-6 space-y-4 relative">
                                <div class="top-1 left-[20rem] absolute">
                                    <button class="text-black  rounded-full ml-2"
                                        onclick="closeModal('deleteModal-{{request.request_id}}')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                                    </button>
                                </div>
                                <h2 class="text-lg font-bold">Are you sure you wanna delete this?</h2>
                                <div class="flex justify-center items-center">
                                    <form method="POST" action="{% url 'custodian_delete_request' request_id=request.request_id %}">
                                        {%csrf_token%}
                                        <button type="submit" class="bg-gray-2 text-white px-4 py-2 rounded-2xl hover:text-orange-500">
                                            Yes
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--Update modal-->
                        <div id="update-{{request.request_id}}" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
                            <div class="bg-white rounded-lg p-6 space-y-4 relative">
                                <div class="top-1 left-[20rem] absolute">
                                    <button class="text-black  rounded-full ml-2"
                                        onclick="closeModal('update-{{request.request_id}}')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                                    </button>
                                </div>
                                <div class="flex justify-center items-center">
                                    <h2 class="text-lg font-bold">Update Request</h2>
                                </div>
                                {% if request.request_type == 'Purchase Order' %}
                                    <!--Purchase Order-->
                                    <div class="flex-col justify-center items-center pt-5 flex">
                                        <div class="mb-4">
                                            <!--purchase order form-->
                                            <form method="POST" action="{% url 'custodian_update_request' request_id=request.request_id %}">
                                                {%csrf_token%}
                                                <input type="text" readonly value="Purchase Order" class=" hidden shadow 
                                                appearance-none border rounded w-[20rem] py-2 px-3
                                                text-black leading-tight focus:outline-none focus:shadow-outline" name="request-type">
                                                <div class="mb-4 flex justify-between">
                                                    <label class="block text-black text-md font-bold mt-2 mr-2" for="item">
                                                        Item
                                                    </label>
                                                    <select name="items" class="shadow appearance-none border rounded 
                                                    w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline">
                                                        {% for item in items %}
                                                        <option value="{{item.item_id}}" {% if item.item_id == request.item_id %} selected {% endif %}>
                                                            {{item.item_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="mb-4 flex justify-between">
                                                    <label class="block text-black text-md font-bold mt-2 mr-2" for="quantity">
                                                        Quantity
                                                    </label>
                                                    <input required class="shadow appearance-none border rounded
                                                    w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" 
                                                    id="quantity" type="text" name="quantity" value="{{request.request_item_quantity}}" 
                                                    oninput="validatestocks(this)">
                                                </div>
                                                <div class="flex justify-center items-center">
                                                    <button type="submit"
                                                        class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                                                        id="submitButton">
                                                        Update
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% else %}
                                    <!--job request-->
                                    <div class="flex-col justify-center items-center pt-5 flex w-[19rem]">
                                        <!--job request form-->
                                        <form method="POST" action="{% url 'custodian_update_request' request_id=request.request_id %}">
                                            {%csrf_token%}
                                            <div class="mb-4">
                                                <input type="text" readonly value="Job Request" class=" hidden shadow appearance-none border 
                                                rounded w-[20rem] py-2 px-3
                                                text-black leading-tight focus:outline-none focus:shadow-outline" name="request-type">
                                                <div class="mb-4">
                                                    <label class="block text-black text-md font-bold mt-2 mr-2" for="item">
                                                        Item
                                                    </label>
                                                    <input required class="shadow appearance-none border rounded 
                                                    w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" 
                                                    id="Item" name="item" type="text" value="{{request.request_item_name}}">
                                                </div>
                                                <div class="mb-4">
                                                    <label class="block text-black text-md font-bold mt-2 mr-2" for="quantity">
                                                        Quantity
                                                    </label>
                                                    <input required class="shadow appearance-none border rounded 
                                                    w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" 
                                                    id="quantity" name="quantity" type="text" value="{{request.request_item_quantity}}" oninput="validatestocks(this)">
                                                </div>
                                                <div class="mb-4">
                                                    <label class="block text-black text-md font-bold mt-2 mr-2" for="repair">
                                                        Repair details
                                                    </label>
                                                    <textarea name="repair" id="repair" required class="shadow appearance-none border rounded 
                                                    w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline 
                                                    resize-none" maxlength="255">{{request.request_repair_details}}</textarea>
                                                </div>
                                            </div>
                                            <div class="flex justify-center items-center">
                                                <button type="submit"
                                                    class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                                                    id="submitButton">
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Create Request Modal-->
<div id="CreateModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
    <div class="bg-white rounded-lg p-6 space-y-4 relative ">
        <button 
            class="text-black  rounded-full top-1 left-[21rem] absolute"
            onclick="closeModal('CreateModal')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
        </button>
        <h2 class="text-lg font-bold">Requests</h2>
        <div class="flex flex-col justify-center items-center">
            <select required class="shadow appearance-none border rounded w-[20rem] py-2 px-3
            text-black leading-tight focus:outline-none focus:shadow-outline" 
                    id="Request">
                    <option value="">Select Requests</option>
                    <option value="Purchase">Purchase Order</option>
                    <option value="job-request">Job Request</option>
            </select>
        </div>
        <!--job request-->
        <div id="jobField" class="flex-col justify-center items-center pt-5 hidden">
            <!--job request form-->
            <form method="POST" action="">
                {%csrf_token%}
                <div class="mb-4">
                    <input type="text" readonly value="Job Request" class=" hidden shadow appearance-none border rounded w-[20rem] py-2 px-3
                    text-black leading-tight focus:outline-none focus:shadow-outline" name="request-type">
                    <div class="mb-4">
                        <label class="block text-black text-md font-bold mt-2 mr-2" for="item">
                            Item
                        </label>
                        <input required class="shadow appearance-none border rounded 
                        w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" 
                        id="item" name="item" type="text" placeholder="Name">
                    </div>
                    <div class="mb-4">
                        <label class="block text-black text-md font-bold mt-2 mr-2" for="Quantity">
                            Quantity
                        </label>
                        <input required class="shadow appearance-none border rounded
                         w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" 
                        id="quantity" type="text" name="quantity" placeholder="0" oninput="validatestocks(this)">
                    </div>
                    <div class="mb-4">
                        <label class="block text-black text-md font-bold mt-2 mr-2" for="repair">
                            Repair details
                        </label>
                        <textarea name="repair" id="repair" required class="shadow appearance-none border rounded 
                        w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline resize-none" 
                        maxlength="255"></textarea>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <button type="submit"
                        class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                        id="submitButton">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <!--Purchase Order-->
        <div id="purchaseField" class="flex-col justify-center items-center pt-5 hidden">
            <div class="mb-4">
                <!--purchase order form-->
                <form method="POST" action="{% url 'custodian_request' %}">
                    {%csrf_token%}
                    <input type="text" readonly value="Purchase Order" class=" hidden shadow appearance-none border rounded w-[20rem] py-2 px-3
                    text-black leading-tight focus:outline-none focus:shadow-outline" name="request-type">
                    <div class="mb-4 flex justify-between">
                        <label class="block text-black text-md font-bold mt-2 mr-2" for="item">
                            Item
                        </label>
                        <select name="items" class="shadow appearance-none border rounded 
                        w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline">
                            {% for item in items %}
                            <option value="{{item.item_id}}">{{item.item_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-black text-md font-bold mt-2 mr-2" for="Quantity">
                            Quantity
                        </label>
                        <input required class="shadow appearance-none border rounded
                         w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" 
                        id="quantity" type="text" name="quantity" placeholder="0" oninput="validatestocks(this)">
                    </div>
                    <div class="flex justify-center items-center">
                        <button type="submit"
                            class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                            id="submitButton">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Scripts for interactive buttons-->
<script>
    function validatestocks(input) { 
        input.value = input.value.replace(/[^0-9]/g, ''); // Remove non-numeric characters
        const value = parseInt(input.value, 10);

        if(!value || value <= 0){
            input.setCustomValidity('Enter quantity greater than 0');
        } else {
            input.setCustomValidity('');
        } 
    }
    function openModal(modalId) {
        console.log(modalId)
        const modal = document.getElementById(modalId);
        modal.classList.remove('hidden'); // Remove hidden class
        modal.classList.add('flex'); // Add flex for centering
    }

    function closeModal(modalId) {
        const modal = document.getElementById(modalId);
        modal.classList.remove('flex'); // Remove flex to prevent display issues
        modal.classList.add('hidden'); // Add hidden class to hide modal
    }
    document.getElementById('Request').addEventListener('change',function(){
        document.getElementById('jobField').classList.add('hidden');
        document.getElementById('purchaseField').classList.add('hidden');
        
        if(this.value  === 'job-request'){
            document.getElementById('jobField').classList.remove('hidden');
            document.getElementById('jobField').classList.add('flex');
        }
        if(this.value  === 'Purchase'){
            document.getElementById('purchaseField').classList.remove('hidden');
            document.getElementById('purchaseField').classList.add('flex');
        }
    });
    setTimeout(() => {
        document.getElementById('notifications').style.display = 'none';
    }, 5000);
</script>
{% endblock %}