{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FERMA STAINLESS WORKS</title>
    <link rel="icon" href="{% static 'images/Logo.png'%}" type="image/png">
    {% tailwind_css %}
</head>
<body class="font-Nats overflow-auto">
    <header class="flex bg-gray-1 w-full">
        <img src="{% static 'images/Logo.png'%}" alt="Ferma Steel works" class="ml-20 w-28 h-20">
        <h1 class="text-white font-bold mt-5 ml-2 sm:text-xs md:text-4xl">FERMA STAINLESS WORKS</h1>
    </header>
    <main class="flex w-full min-h-screen bg-white overflow-hidden">
        <!--vertical navbar-->
        <div class="min-w-fit min-h-screen flex flex-col bg-gray-2 w-[6rem] text-white items-center">
            <!--container-->
            <div class="flex flex-col flex-grow items-center min-w-full mx-2">
                <div class="flex flex-col items-center mb-10 py-4">
                    <img src="{% static 'images/user-icon.png'%}" alt="user-icon" class="w-7 h-7 mb-1">
                    <p class="text-white items-center text-sm">{{worker_display_name}}</p>
                    <p class="text-white items-center text-sm">Worker</p>
                </div>
                <ul class="flex flex-col items-center space-y-2 min-w-full">
                    <li class="flex flex-col items-center hover:bg-slate-900 min-w-full pt-1 hover:text-orange-500">
                        <a href="{% url 'worker_request' %}" class="text-md mt-1">
                            <img src="{% static 'images/Request.png' %}" alt="Request" class="w-6 h-6 ml-5">
                            Request
                        </a>
                    </li>
                </ul>
                <ul class="mt-auto min-w-full">
                    <li class="flex flex-col items-center min-w-full hover:bg-slate-900 pt-2 hover:text-orange-500">
                        <a href="{% url 'Logout' %}" class="">
                            <img src="{% static 'images/logout.png'%}" alt="logout" class="w-6 h-6 ml-2">
                            <p class="text-sm mt-2 pb-3">Log out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-full bg-white flex justify-center items-center relative">
                <!-- Messages Section -->
            {% if messages %}
                {% for message in messages %}
                <div id="notifications" class="px-4 py-2 rounded absolute top-10 left-1/2 transform -translate-x-1/2 
                    text-white {% if message.tags == 'error' %}bg-red-500{% elif message.tags == 'success' %}
                    bg-green-500
                    {% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <div class="w-[50rem] h-[35rem]  mt-10">
                <!--search and create Request-->
                <div class=" min-w-full h-20 pt-2 flex justify-end">
                    <!--create request button-->
                    <div class="mt-5">
                        <button class="bg-gray-2 py-2 px-4 rounded-2xl text-md text-white hover:text-orange-500" 
                            onclick="openModal('CreateModal')">
                            Create Request
                        </button>
                    </div>
                </div>
                <!--table container-->
                <div class="min-w-full h-[26rem] bg-gray-3 table-auto overflow-auto">
                    <table class="w-full ">
                        <thead class="bg-gray-200 border-b-2 border-gray-200">
                            <tr class="">
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Request ID</th>
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Request Type</th>
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Date</th>
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Status</th>
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for request in worker_request_type %}
                            <tr class="text-center">
                                <td class="pt-1">{{request.request_id}}</td>
                                <td class="pt-1">{{request.request_type}}</td>
                                <td class="pt-1">{{request.request_date}}</td>
                                <td class="pt-1">
                                        <span class="bg-orange-600 text-white px-3 py-1.5 rounded-xl text-base">
                                        {{request.request_status}}
                                        </span>
                                </td>
                                <td class="pt-1">
                                    <button class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                                    onclick="openModal('update-{{request.request_id}}')">
                                        Update
                                    </button>
                                    <button class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                                    onclick="openModal('delete-{{request.request_id}}')">
                                        Delete
                                    </button>
                                </td>
                                <!--Delete Modal-->
                                <div id="delete-{{request.request_id}}" class="modal hidden fixed inset-0 
                                    bg-black bg-opacity-50 items-center justify-center">
                                    <div class="bg-white rounded-lg p-6 space-y-4 relative">
                                        <button 
                                            class="text-black  rounded-full top-2 left-[20rem] absolute"
                                            onclick="closeModal('delete-{{request.request_id}}')">
                                            <img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                                        </button>
                                        <h2 class="text-lg font-bold">Are you sure you wanna delete this?</h2>
                                        <div class="flex justify-center items-center">
                                            <form method="POST" action="{% url 'delete_worker_request' request_id=request.request_id %}">
                                                {%csrf_token%}
                                                <button type="submit" class="bg-gray-2 text-white px-4 py-2 rounded-2xl 
                                                    hover:text-orange-500">
                                                    Yes
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--Update Modal-->
                                <div id="update-{{request.request_id}}" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
                                    <div class="bg-white rounded-lg p-6 space-y-4 relative">
                                        <button 
                                            class="text-black  rounded-full top-1 left-[21rem] absolute"
                                            onclick="closeModal('update-{{request.request_id}}')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                                        </button>
                                        <h2 class="text-lg font-bold">Requests</h2>
                                        <div class="flex flex-col justify-center items-center">
                                            <form method="POST" action="{% url 'update_worker_request' request_id=request.request_id%}">
                                                {%csrf_token%}
                                                <input type="text" disabled value="Item Request" class="shadow appearance-none border rounded w-[20rem] py-2 px-3
                                                text-black leading-tight focus:outline-none focus:shadow-outline">
                                                <!--item request-->
                                                <div id="itemField" class="flex-col justify-center items-center pt-5">
                                                    <div class="mb-4">
                                                        <div class="mb-4 flex justify-between">
                                                            <label class="block text-black text-md font-bold mt-2 mr-2" for="item">
                                                                Item
                                                            </label>
                                                            <select name="items" class="shadow appearance-none border rounded 
                                                            w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline">
                                                                {% for item in inventory_item %}
                                                                    {% if item.inventory_quantity <= 0 %}
                                                                        <option disabled value="{{item.item__item_id}}"
                                                                            {% if item.item__item_id == request.item %}selected{% endif %}>
                                                                            {{item.item__item_name}} ({{item.inventory_quantity}})
                                                                        </option>
                                                                    {% else %}
                                                                        <option value="{{item.item__item_id}}" {% if item.item__item_id == request.item_id %}selected{% endif %}>
                                                                            {{item.item__item_name}} ({{item.inventory_quantity}})
                                                                        </option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="mb-4 flex justify-between">
                                                            <label class="block text-black text-md font-bold mt-2 mr-2" for="Quantity">
                                                                Quantity
                                                            </label>
                                                            <input required class="shadow appearance-none border rounded 
                                                            w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" 
                                                            id="Quantity" name="quantity" type="text" value="{{request.request_item_quantity}}" oninput="validatestocks(this)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex justify-center items-center">
                                                    <button type="submit"
                                                        class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg">
                                                        Update
                                                    </button>
                                                </div>    
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--create Modal-->
        <div id="CreateModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
            <div class="bg-white rounded-lg p-6 space-y-4 relative">
                <button 
                    class="text-black  rounded-full top-1 left-[21rem] absolute"
                    onclick="closeModal('CreateModal')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                </button>
                <h2 class="text-lg font-bold">Requests</h2>
                <div class="flex flex-col justify-center items-center">
                    <form method="POST" action="{% url 'worker_request'%}">
                        {%csrf_token%}
                        <input type="text" readonly value="Item Request" class="shadow appearance-none border rounded w-[20rem] py-2 px-3
                        text-black leading-tight focus:outline-none focus:shadow-outline" name="request-type">
                        <!--item request-->
                        <div id="itemField" class="flex-col justify-center items-center pt-5">
                            <div class="mb-4">
                                <!--item details-->
                                <div class="mb-4 flex justify-between">
                                    <label class="block text-black text-md font-bold mt-2 mr-2" for="item">
                                        Item
                                    </label>
                                    <select name="items" class="shadow appearance-none border rounded 
                                    w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline">
                                        {% for item in inventory_item %}
                                            {% if item.inventory_quantity <= 0 %}
                                                <option disabled value="{{item.item__item_id}}">{{item.item__item_name}} ({{item.inventory_quantity}})</option>
                                            {% else %}
                                                <option value="{{item.item__item_id}}">{{item.item__item_name}} ({{item.inventory_quantity}})</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <!--Quantity details-->
                                <div class="mb-4 flex justify-between">
                                    <label class="block text-black text-md font-bold mt-2 mr-2" for="Quantity">
                                        Quantity
                                    </label>
                                    <input required class="shadow appearance-none border rounded 
                                    w-[15rem] py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" 
                                    id="Quantity" name="quantity" type="text" placeholder="0" oninput="validatestocks(this)">
                                </div>
                            </div>
                        </div>
                        <!--submit button-->
                        <div class="flex justify-center items-center">
                            <button type="submit"
                                class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                                id="submitButton">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script>
        
        function validatestocks(input) { 
            input.value = input.value.replace(/[^0-9]/g, ''); // Remove non-numeric characters
            const value = parseInt(input.value, 10);
            
            if(!value || value <= 0){
                input.setCustomValidity('Enter quantity greater than 0');
            } else {
                input.setCustomValidity('');
            }
        } 
        function openModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.classList.remove('hidden'); // Remove hidden class
            modal.classList.add('flex'); // Add flex for centering
        }
    
        function closeModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.classList.remove('flex'); // Remove flex to prevent display issues
            modal.classList.add('hidden'); // Add hidden class to hide modal
        }
        setTimeout(() => {
            document.getElementById('notifications').style.display = 'none';
        }, 5000);
    </script>
</body>
</html>